.about-page {
  padding: 60px 16px 80px;
  width: 100%;
  margin: auto;
  background: #fff6e5; /* soft temple tone */
}
/* About intro content (NEW) */
.about-intro {
  max-width: 900px;
  margin: 0 auto 60px;
  text-align: center;
  
}
.about-intro h1 {
  font-size: 34px;
  margin-bottom: 20px;
  color: #2b2b2b;
}
.about-intro p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
  color: #555;
  margin-top: 20px;
  margin-bottom: 14px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  /* border-bottom: 1px double rgba(18, 0, 0, 0.06); */
}
/* Cards */
.about-cards {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.about-card {
  background: #ffffff;
  padding: 26px 22px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-left: 2px solid #ffb703;
  border-right: 2px solid #ffb703;
  border-top: 2px solid #ffb703;
  border-bottom: 2px solid #ffb703;
}
.about-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}
.about-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #1f1f1f;
}
.about-card p {
  font-size: 14.5px;
  line-height: 1.6;
  color: #555;
}
/* Mobile */
@media (max-width: 768px) {
  .about-intro h1 {
    font-size: 28px;
  }

  .about-cards {
    grid-template-columns: 1fr;
  }
}
.temple1 {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
   width: 320px;
  height: 560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.15;
  filter: blur(0.5px);
  z-index: 0;
}

/* Left temple */
.temple1-left {
  left: -40px;
}

/* Right temple */
.temple1-right {
  right: -40px;
  transform: translateY(-50%) scaleX(-1);
}