.app-footer {
  background: #20603c; /* Deep Green */
  color: #fff;
  padding: 40px 20px 20px;
  position: relative;   /* ✅ ADD THIS */
  overflow: hidden; 
}
 
.footer-content {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 0.8fr;
  gap: 50px;
}

.footer-section h4 {
  margin-bottom: 10px;
  color: #c9a23f; /* Temple Gold */
}

.footer-section p,
.footer-section a {
  font-size: 15px;
  color: #f1f1f1;
}

.footer-section a {
  display: block;
  margin-top: 6px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
  opacity: 0.85;
}
.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 70%; /* aspect ratio */
  border-radius: 14px;
  border: 2px solid #ffb703;;
  overflow: hidden;
  margin-top: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.map-button {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #c9a23f;
  text-decoration: none;
  transition: 0.3s;
}

.map-button:hover {
  text-decoration: underline;
}
.temple1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
   width: 240px;
  height: 560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.70;
  z-index: 0;
}

/* Left temple */
.temple1-left {
  left: 0;
}

/* Right temple */
.temple1-right {
  right: 0;
  /* transform: translateY(-50%) scaleX(-1); */
}
